body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

.webstudio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-nav:hover,
.page-nav:focus {
  color: #404bbf;
  border: none;
}

.addr {
  font-style: normal;
}
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-decoration: none;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
  border: none;
}

.sect-hero-image {
  background-color: #2e2f42;
}

.main-text {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.button-order-service {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: 0;
  border-radius: 4px;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.sect-core-features .section-header {
  display: none;
}

.value-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.value-descr {
}

.sect-employes {
  background-color: #f4f4fd;
}

.empl-box {
  background-color: #ffffff;
  text-align: center;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer span {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: 0;
  margin-right: 0;
}

img {
  display: block;
}

.header-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  gap: 76px;
  justify-self: flex-start;
}

.page-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  gap: 40px;
}

.addr-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  gap: 40px;
  justify-self: flex-end;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 100%;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature-list .value-descr {
  margin-top: 8px;
  width: 264px;
}

.employes-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.sect-employes .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.empl-box {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.empl-box .value-name {
  margin-top: 32px;
  margin-bottom: 8px;
}
.empl-box .value-descr {
  margin-bottom: 32px;
}
.sect-portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portf-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.portf-descr {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.page-footer .container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
