body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

.webstudio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-nav:hover,
.page-nav:focus {
  color: #404bbf;
}

.addr {
  font-style: normal;
}
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-decoration: none;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.sect-hero-image {
  background-color: #2e2f42;
}

.main-text {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.button-order-service {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.sect-core-features .section-header {
  display: none;
}

.value-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sect-employes {
  background-color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer span {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  max-width: 264px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.page-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 76px;
}
.page-nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.addr-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
header a {
  padding: 24px 0;
}
.sect-hero-image .container {
  display: flex;
  flex-direction: column;
  padding-top: 188px;
  padding-bottom: 188px;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.feature-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature-list-value {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 24px) / 3);
}
.sect-employes .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.employes-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 72px;
}
.empl-box {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px) / 3);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.employes-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px 0 32px 0;
}

.sect-portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portf-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
}

.portf-box {
  display: flex;
  flex-direction: column;
}
.portf-box-descr {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.page-footer .container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
}
