body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

.webstudio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  align-items: center;
  color: #2e2f42;
}

.page-nav:hover,
.page-nav:focus {
  color: #404bbf;
}

.addr {
  font-style: normal;
}
.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-decoration: none;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.main-text {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #2e2f42;
  max-width: 496px;
  margin-bottom: 48px;
}

.button-order-service {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.value-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sect-employes {
  background-color: #f4f4fd;
}

.empl-box {
  background-color: #ffffff;
  text-align: center;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer span {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  max-width: 264px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-nav {
  display: flex;
  flex-direction: row;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.addr-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

nav a {
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.visually-hidden {
  display: none;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.empl-section {
  background-color: #f4f4fd;
}

.empl-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.empl-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  overflow: hidden;
}

.empl-box {
  padding: 32px 0;
}

.empl-name {
  text-align: center;
}

.empl-descr {
  text-align: center;
}

.portf-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portf-item {
  width: calc((100% - 48px) / 3);
}
.portf-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

img {
  display: block;
  width: 100%;
}
